@model Blogger.Web.Models.ViewModels.EditTagRequest;
@{
}

<h1>Edit your Tag details here</h1>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" id="name" asp-for="Id" readonly>
        </div>
        <div class="mb-3">
            <label class="form-label">Edit Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name">
        </div>
        <div class="mb-3">
            <label class="form-label">Edit Display Name</label>
            <input type="text" class="form-control" id="displayName" asp-for="DisplayName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-primary" asp-area="" asp-controller="AdminTags" asp-action="Delete">Delete</button>
    </form>
</div>
